{% render 'billing-gate' %}
{{ 'slider-10.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slider-10.js' | asset_url }}" defer></script>
{% liquid
assign section_id = 'slider-10-' | append: block.id
if block.settings.selected_collection != blank
assign slider_collection = collections[block.settings.selected_collection]
else
assign slider_collection = collections.all
endif
assign products_limit = block.settings.products_limit | default: 3
assign products_display_mode = block.settings.products_display_mode | default: 'limited'
assign products_to_show = products_limit
if products_display_mode == 'all'
assign products_to_show = slider_collection.products_count | default: slider_collection.products.size
endif
assign use_custom_colors = false
if block.settings.color_scheme_mode == 'custom'
assign use_custom_colors = true
endif
assign parent_color_scheme = section.settings.color_scheme
assign has_parent_color_scheme = false
if parent_color_scheme != blank and parent_color_scheme.settings != blank
assign has_parent_color_scheme = true
endif
assign effective_background_color = blank
assign effective_text_color = blank
assign effective_button_color = blank
assign effective_button_text_color = blank
assign effective_outline_color = blank
assign effective_error_color = blank
if has_parent_color_scheme
assign effective_background_color = parent_color_scheme.settings.background
assign effective_text_color = parent_color_scheme.settings.text
assign effective_button_color = parent_color_scheme.settings.button
assign effective_button_text_color = parent_color_scheme.settings.button_label
assign effective_outline_color = parent_color_scheme.settings.secondary_button_label
assign effective_error_color = parent_color_scheme.settings.error
endif
if use_custom_colors
if block.settings.custom_background_color != blank
assign effective_background_color = block.settings.custom_background_color
endif
if block.settings.custom_text_color != blank
assign effective_text_color = block.settings.custom_text_color
endif
if block.settings.custom_button_color != blank
assign effective_button_color = block.settings.custom_button_color
endif
if block.settings.custom_button_text_color != blank
assign effective_button_text_color = block.settings.custom_button_text_color
endif
if block.settings.custom_outline_color != blank
assign effective_outline_color = block.settings.custom_outline_color
endif
endif
assign readable_text_color = blank
assign readable_text_rgb = blank
assign readable_button_text_color = blank
assign readable_button_text_rgb = blank
assign enforce_readable_text = false
assign enforce_readable_accent = false
assign enforce_readable_outline = false
assign enforce_readable_button_text = false
assign enforce_readable_error = false
if effective_background_color != blank
assign dark_text_contrast = effective_background_color | color_contrast: '#000000'
assign light_text_contrast = effective_background_color | color_contrast: '#ffffff'
if dark_text_contrast > light_text_contrast
assign readable_text_color = '#000000'
assign readable_text_rgb = '0, 0, 0'
else
assign readable_text_color = '#ffffff'
assign readable_text_rgb = '255, 255, 255'
endif
if effective_text_color != blank
assign text_contrast = effective_background_color | color_contrast: effective_text_color
if text_contrast < 4.5
assign enforce_readable_text = true
endif
else
assign enforce_readable_text = true
endif
if effective_button_color != blank
assign accent_contrast = effective_background_color | color_contrast: effective_button_color
if accent_contrast < 4.5
assign enforce_readable_accent = true
endif
endif
if effective_outline_color != blank
assign outline_contrast = effective_background_color | color_contrast: effective_outline_color
if outline_contrast < 4.5
assign enforce_readable_outline = true
endif
endif
if effective_error_color != blank
assign error_contrast = effective_background_color | color_contrast: effective_error_color
if error_contrast < 4.5
assign enforce_readable_error = true
endif
endif
endif
assign effective_button_surface_color = effective_button_color
if enforce_readable_accent and readable_text_color != blank
assign effective_button_surface_color = readable_text_color
endif
assign effective_button_gradient_end_color = effective_outline_color
if enforce_readable_outline and readable_text_color != blank
assign effective_button_gradient_end_color = readable_text_color
endif
if effective_button_surface_color != blank
assign dark_button_text_contrast = effective_button_surface_color | color_contrast: '#000000'
assign light_button_text_contrast = effective_button_surface_color | color_contrast: '#ffffff'
if effective_button_gradient_end_color != blank
assign dark_button_end_contrast = effective_button_gradient_end_color | color_contrast: '#000000'
assign light_button_end_contrast = effective_button_gradient_end_color | color_contrast: '#ffffff'
if dark_button_end_contrast < dark_button_text_contrast
assign dark_button_text_contrast = dark_button_end_contrast
endif
if light_button_end_contrast < light_button_text_contrast
assign light_button_text_contrast = light_button_end_contrast
endif
endif
if dark_button_text_contrast > light_button_text_contrast
assign readable_button_text_color = '#000000'
assign readable_button_text_rgb = '0, 0, 0'
else
assign readable_button_text_color = '#ffffff'
assign readable_button_text_rgb = '255, 255, 255'
endif
if effective_button_text_color != blank
assign button_text_contrast = effective_button_surface_color | color_contrast: effective_button_text_color
if effective_button_gradient_end_color != blank
assign button_text_end_contrast = effective_button_gradient_end_color | color_contrast: effective_button_text_color
if button_text_end_contrast < button_text_contrast
assign button_text_contrast = button_text_end_contrast
endif
endif
if button_text_contrast < 4.5
assign enforce_readable_button_text = true
endif
else
assign enforce_readable_button_text = true
endif
endif
%}
{% if slider_collection != blank and slider_collection.products_count > 0 %}
<div
id="{{ section_id }}"
class="slider-10-root gradient{% if block.settings.text_color != blank %} has-slider-text-color{% endif %}{% if block.settings.text_font_size != blank %} has-slider-text-size{% endif %}{% if block.settings.button_color != blank %} has-slider-button-color{% endif %}{% if block.settings.button_text_color != blank %} has-slider-button-text-color{% endif %}{% if block.settings.button_font_size != blank %} has-slider-button-size{% endif %}" data-block-id="{{ block.id }}"
data-carousel-billing-gate
style="
{% if block.settings.text_color != blank %}
  --slider-style-text-color: {{ block.settings.text_color }};
{% endif %}
{% if block.settings.text_font_size != blank %}
  --slider-style-text-size: {{ block.settings.text_font_size }};
{% endif %}
{% if block.settings.button_color != blank %}
  --slider-style-button-color: {{ block.settings.button_color }};
{% endif %}
{% if block.settings.button_text_color != blank %}
  --slider-style-button-text-color: {{ block.settings.button_text_color }};
{% endif %}
{% if block.settings.button_font_size != blank %}
  --slider-style-button-size: {{ block.settings.button_font_size }};
{% endif %}
{% if has_parent_color_scheme %}
  {% if parent_color_scheme.settings.background != blank %}
    --slider-background-rgb: {{ parent_color_scheme.settings.background.red }}, {{ parent_color_scheme.settings.background.green }}, {{ parent_color_scheme.settings.background.blue }};
    --slider-background: {{ parent_color_scheme.settings.background }};
  {% endif %}
  {% if parent_color_scheme.settings.background_gradient != blank %}
    --slider-custom-background: {{ parent_color_scheme.settings.background_gradient }};
  {% endif %}
  {% if parent_color_scheme.settings.text != blank %}
    --slider-foreground-rgb: {{ parent_color_scheme.settings.text.red }}, {{ parent_color_scheme.settings.text.green }}, {{ parent_color_scheme.settings.text.blue }};
    --slider-foreground: {{ parent_color_scheme.settings.text }};
  {% endif %}
  {% if parent_color_scheme.settings.button != blank %}
    --slider-button-rgb: {{ parent_color_scheme.settings.button.red }}, {{ parent_color_scheme.settings.button.green }}, {{ parent_color_scheme.settings.button.blue }};
    --slider-accent: {{ parent_color_scheme.settings.button }};
  {% endif %}
  {% if parent_color_scheme.settings.secondary_button_label != blank %}
    --slider-secondary-rgb: {{ parent_color_scheme.settings.secondary_button_label.red }}, {{ parent_color_scheme.settings.secondary_button_label.green }}, {{ parent_color_scheme.settings.secondary_button_label.blue }};
    --slider-accent-secondary: {{ parent_color_scheme.settings.secondary_button_label }};
  {% endif %}
  {% if parent_color_scheme.settings.button_label != blank %}
    --slider-button-text-rgb: {{ parent_color_scheme.settings.button_label.red }}, {{ parent_color_scheme.settings.button_label.green }}, {{ parent_color_scheme.settings.button_label.blue }};
    --slider-on-accent: {{ parent_color_scheme.settings.button_label }};
  {% endif %}
  {% if parent_color_scheme.settings.shadow != blank %}
    --slider-shadow-rgb: {{ parent_color_scheme.settings.shadow.red }}, {{ parent_color_scheme.settings.shadow.green }}, {{ parent_color_scheme.settings.shadow.blue }};
  {% endif %}
{% endif %}
{% if use_custom_colors and block.settings.custom_background_color != blank %}
  --slider-background-rgb: {{ block.settings.custom_background_color.red }}, {{ block.settings.custom_background_color.green }}, {{ block.settings.custom_background_color.blue }};
  --slider-background: {{ block.settings.custom_background_color }};
{% endif %}
{% if use_custom_colors and block.settings.custom_text_color != blank %}
  --slider-foreground-rgb: {{ block.settings.custom_text_color.red }}, {{ block.settings.custom_text_color.green }}, {{ block.settings.custom_text_color.blue }};
  --slider-foreground: {{ block.settings.custom_text_color }};
{% endif %}
{% if use_custom_colors and block.settings.custom_button_color != blank %}
  --slider-button-rgb: {{ block.settings.custom_button_color.red }}, {{ block.settings.custom_button_color.green }}, {{ block.settings.custom_button_color.blue }};
  --slider-accent: {{ block.settings.custom_button_color }};
{% endif %}
{% if use_custom_colors and block.settings.custom_outline_color != blank %}
  --slider-secondary-rgb: {{ block.settings.custom_outline_color.red }}, {{ block.settings.custom_outline_color.green }}, {{ block.settings.custom_outline_color.blue }};
  --slider-accent-secondary: {{ block.settings.custom_outline_color }};
{% endif %}
{% if use_custom_colors and block.settings.custom_button_text_color != blank %}
  --slider-button-text-rgb: {{ block.settings.custom_button_text_color.red }}, {{ block.settings.custom_button_text_color.green }}, {{ block.settings.custom_button_text_color.blue }};
  --slider-on-accent: {{ block.settings.custom_button_text_color }};
{% endif %}
{% if use_custom_colors and block.settings.custom_shadow_color != blank %}
  --slider-shadow-rgb: {{ block.settings.custom_shadow_color.red }}, {{ block.settings.custom_shadow_color.green }}, {{ block.settings.custom_shadow_color.blue }};
{% endif %}
{% if use_custom_colors and block.settings.custom_background_gradient != blank %}
  --slider-custom-background: {{ block.settings.custom_background_gradient }};
{% elsif use_custom_colors and block.settings.custom_background_color != blank %}
  --slider-custom-background: {{ block.settings.custom_background_color }};
{% endif %}
{% if enforce_readable_text %}
  --slider-foreground-rgb: {{ readable_text_rgb }};
  --slider-foreground: {{ readable_text_color }};
{% endif %}
{% if enforce_readable_accent %}
  --slider-button-rgb: {{ readable_text_rgb }};
  --slider-accent: {{ readable_text_color }};
{% endif %}
{% if enforce_readable_outline %}
  --slider-secondary-rgb: {{ readable_text_rgb }};
  --slider-accent-secondary: {{ readable_text_color }};
{% endif %}
{% if enforce_readable_button_text %}
  --slider-button-text-rgb: {{ readable_button_text_rgb }};
  --slider-on-accent: {{ readable_button_text_color }};
{% endif %}
{% if enforce_readable_error %}
  --slider-error-rgb: {{ readable_text_rgb }};
  --slider-error: {{ readable_text_color }};
{% endif %}
--s10-height: {{ block.settings.section_height }};
"
{{ block.shopify_attributes }}
>
<div class="container">
<div id="slide-{{ block.id }}">
{% for product in slider_collection.products limit: products_to_show %}
{% assign active_variant = product.selected_or_first_available_variant %}
<div class="item">
<div class="image">
{% if product.featured_image %}
<img src="{{ product.featured_image | image_url: width: 1400 }}" alt="{{ product.title | escape }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}" loading="lazy">
{% endif %}
</div>
<div class="content">
<div class="left">
<h1>{{ product.title | escape }}</h1>
<div class="des">{{ product.description | strip_html | truncatewords: 22 }}</div>
<button class="add-to-cart" type="button" data-cart-id="{{ active_variant.id }}"{% unless active_variant.available %} disabled{% endunless %}>{% if active_variant.available %}Add to cart{% else %}Sold out{% endif %}</button>
<button class="see-more" type="button" data-url="{{ product.url }}">See more <span aria-hidden="true">&#8250;&#8250;&#8250;</span></button>
<p class="cart-feedback" aria-live="polite"></p>
</div>
<div class="right">
<h2>Details</h2>
<ul>
<li><p>Price</p><p>{{ product.price | money }}</p></li>
<li><p>Vendor</p><p>{{ product.vendor | default: shop.name | escape }}</p></li>
<li><p>Type</p><p>{{ product.type | default: 'Product' | escape }}</p></li>
</ul>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="directional">
<button id="prev-{{ block.id }}" type="button" aria-label="Previous slide">&#8249;</button>
<button id="next-{{ block.id }}" type="button" aria-label="Next slide">&#8250;</button>
</div>
</div>
</div>
{% comment %}Styles and script moved to slider-10.css and slider-10.js assets{% endcomment %}
{% else %}
<div class="slider-liquid-empty" {{ block.shopify_attributes }}>Select a collection with products to render this slider.</div>
{% endif %}
{% schema %}
{
"name": "Carousel Vanish",
"settings": [
{
"type": "collection",
"id": "selected_collection",
"label": "Collection"
},
{
"type": "select",
"id": "products_display_mode",
"label": "Products to show",
"options": [
{
"value": "limited",
"label": "Set number"
},
{
"value": "all",
"label": "All products"
}
],
"default": "limited"
},
{
"type": "range",
"id": "products_limit",
"label": "Number of products",
"min": 2,
"max": 8,
"step": 1,
"default": 3
},
{
"type": "header",
"content": "Style Settings"
},
{
"type": "paragraph",
"content": "Native theme color scheme pickers are not supported in app blocks. Leave these overrides blank to inherit colors from the parent theme section or Apps wrapper."
},
{
"type": "select",
"id": "color_scheme_mode",
"label": "Color scheme",
"options": [
{
"value": "inherit",
"label": "Inherit parent section"
},
{
"value": "custom",
"label": "Use custom overrides"
}
],
"default": "inherit"
},
{
"type": "color",
"id": "custom_background_color",
"label": "Background color override"
},
{
"type": "color_background",
"id": "custom_background_gradient",
"label": "Background gradient override"
},
{
"type": "color",
"id": "custom_text_color",
"label": "Text color override"
},
{
"type": "color",
"id": "custom_button_color",
"label": "Primary button/accent override"
},
{
"type": "color",
"id": "custom_button_text_color",
"label": "Primary button text override"
},
{
"type": "color",
"id": "custom_outline_color",
"label": "Secondary button/accent override"
},
{
"type": "color",
"id": "custom_shadow_color",
"label": "Shadow color override"
},
{
"type": "text",
"id": "section_height",
"label": "Section height",
"default": "700px"
},
{
"type": "header",
"content": "Text and Button Styling"
},
{
"type": "color",
"id": "text_color",
"label": "Text color"
},
{
"type": "text",
"id": "text_font_size",
"label": "Text font size",
"info": "Use a CSS size, for example 18px or 1.2rem."
},
{
"type": "color",
"id": "button_color",
"label": "Button color"
},
{
"type": "color",
"id": "button_text_color",
"label": "Button text color"
},
{
"type": "text",
"id": "button_font_size",
"label": "Button font size",
"info": "Use a CSS size, for example 16px or 1rem."
}
],
"target": "section"
}
{% endschema %}
